body{
    margin: 0px;/*浏览器默认margin:8px*/
    padding: 0px;
    position: absolute;/*一定要有，否则其子元素absolute不以body为基准*/
    width: 780px;
    /*height: 1000px;/*无height其边框就不存在了*/
    border: thin solid red;
}
#article0{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 100%;

    border: thin solid red;
}
#article1{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 200px;
    left: 0px;
    height: 200px;
    width: 100%;

    border: thin solid red;
}
#article2{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 400px;
    left: 0px;
    height: 200px;
    width: 100%;

    border: thin solid red;
}
.coverPic{
    position: absolute;
    margin: 10px 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 130px;
    
    border: thin solid blue;
}
.coverInfor{
    position: absolute;
    margin: 10px 0px;
    padding: 0px;
    top: 0px;
    left: 30%;
    width: 70%;
    height: 130px;
    
    border: thin solid blue;
}
.articleTitle{
    position: absolute;/*子元素默认对absolute的父元素就是absolute*/
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;

    border: thin solid yellow;
}
hr{
    position: absolute;
    top: 180px;
    width: 100%;
}
.articleTitle a{
    margin: 10px 0px;
    padding: 0px;
    font: 20px 微软雅黑,serif;/*font-size并不是字的高度，小于字的高度，因为把padding设置为(容器高-行高）/2就过大了*/
    /*color: black;
    
    text-decoration: none;*/
    
}

.author{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 40px;

    border: thin solid yellow;
}
.author p{
    margin: 8px 0px;
    padding: 0px;
    font: 15px 微软雅黑,serif;/*font-size并不是字的高度，小于字的高度，因为把padding设置为(容器高-行高）/2就过大了*/
    color: black;
}
.abstract{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 40px;
    
    border: thin solid yellow;
}
.abstract p{
    margin: 0px;
    padding: 0px;  
    font: 15px 微软雅黑,serif;
    color: gray;
}

    *:not(hr){
      border: none !important;/*!important强制提前优先级*/
    }